html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
}

body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.react-icons {
  vertical-align: middle;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}